<ion-view view-title="About">
  <ion-content>


      <img class="full-image" src="../img/church.jpeg">
      
          
     
          
            
              
           <header><h1 >About Us</h1></header>
          
            <div class="item item-body">
              
          

              <p>
                  Lorem ipsum dolor sit amet, senserit iudicabit vulputate c
                  <br>
                  Ex nam eros graeco, quidam semper sit ad. Solum admodum sententiae sed te, ut omnes prodesset mei, ut veri expetenda sit. Usu vivendo molestie vivendum ne, an has prima offendit adipisci. Legere equidem his te, graece mandamus te quo. Ne cum fuisset insolens definiebas, qui quod definiebas at.
              </p>
           
            </div>
           
                
                  <a href="https://m.facebook.com/nlf37109/" class="item item-icon-left">
             
                    FaceBook
                  </a>
                
                  <a href="#" class="item item-icon-left">
                  
                   Other
                  </a>
                
                  <a href="#" class="item item-icon-left">
            
                   Other
                  </a>
              
                  
        
  </ion-content>
</ion-view>
