

<ion-view view-title="Listen">
    <ion-content>
        <ion-audio-track track="track">
       <ion-list inset>
          <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="event in result" type="item-text-wrap">
            <h1>{{event.title}}</h1>
            <audio controls>                                        
                <source ng-src="{{event.description}}" type="audio/mpeg">                                                        
            </audio>        
        </ion-list>
          </ion-audio-track>
    </ion-content>
</ion-view>


