<ion-view view-title="About">
  <ion-content>
      <div class="list card">
          
            <div class="item item-avatar">
              <img src="../img/adam.jpg">
              <h2>New Life Church</h2>
              <p>About Us</p>
            </div>
          
            <div class="item item-body">
              <img class="full-image" src="">
              <p>
                  Lorem ipsum dolor sit amet, senserit iudicabit vulputate cum no, cum at putant habemus quaerendum. Vim atqui meliore ocurreret no. Modo vide dolorem in mei, nam id simul verear legendos. Ne quo agam labore intellegam, mel an idque delicata, justo feugiat propriae et his. Ea per delectus facilisi praesent. Eu duo novum laboramus dissentiet.
                  <br>
                  Ex nam eros graeco, quidam semper sit ad. Solum admodum sententiae sed te, ut omnes prodesset mei, ut veri expetenda sit. Usu vivendo molestie vivendum ne, an has prima offendit adipisci. Legere equidem his te, graece mandamus te quo. Ne cum fuisset insolens definiebas, qui quod definiebas at.
              </p>
           
            </div>
            <div class="list card">
                
                  <a href="#" class="item item-icon-left">
             
                    FaceBook
                  </a>
                
                  <a href="#" class="item item-icon-left">
                  
                   Other
                  </a>
                
                  <a href="#" class="item item-icon-left">
            
                   Other
                  </a>
              
                </div>
         
          </div>
          
        
  </ion-content>
</ion-view>
